body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 70rem;
    width:100vw;
    height:auto;
    gap: 5%;

}

.buttons button {
    background-color: rgba(0, 0, 0, 0);
    height: 25vw;
    max-height: 300px;
    width: 25vw;
    max-width: 300px;
    gap: 50rem;
    border: 0px solid rgba(0, 0, 0, 0);
    color:rgba(0, 0, 0, 0);
}

#btnRock {
    background-image: url(./images/rock.svg);   
}

#btnPaper {
    background-image: url(./images/paper.svg);   
}

#btnScissors {
    background-image: url(./images/scissors.svg);   
}

#result {
    max-width: 70rem;
    width:100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.scoreHolder {
    display: flex;
    flex-direction: column;
    flex: 1 1 33%;
    text-align: center;
}


h1 {
    font-size: 1rem;
}

#thisRound {
    position: absolute;
    top: 1rem;

}